@import url("./styles/main.scss");

table {
  th,
  td {
    padding: 10px 20px;
    text-align: left;
    &:nth-child(2) {
      text-align: right;
    }
  }
  td {
    background-color: #eee;
  }
  th {
    background: linear-gradient(
      to right,
      rgb(118, 118, 224),
      rgba(0, 0, 153, 0.292)
    );
    color: #fff;
  }
}

.custom-table {
  margin: 0 auto;
  width: 50vw;
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  tbody tr:nth-child(odd) {
    transform: rotate(1deg);
  }
  thead tr,
  tbody tr:nth-child(even) {
    transform: rotate(-1deg);
  }
}

ul {
  max-width: max-content;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.page-item {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 153, 0.292);

  a {
    padding: 5px 10px;
  }

  &.active {
    a {
      background-color: rgba(0, 0, 153, 0.292);
      color: white;
      width: 100%;
      height: 100%;
    }
  }
}

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;

//   &:hover {
//     filter: drop-shadow(0 0 2em #646cffaa);
//   }

//   &.react:hover {
//     filter: drop-shadow(0 0 2em #61dafbaa);
//   }
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
